name: sm_ui_kit
description: A comprehensive Flutter UI utility package providing custom dialogs, snackbars, wrappers, and extensions for faster development.
version: 0.0.1
homepage:

environment:
  sdk: ^3.10.3
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

